/* Reset general */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #d76483;
    padding: 10px 20px;
    color: white;
}

.logo {
    width: 60px;
}

/* Barra de navegación */
.nav-menu {
    list-style: none;
    display: flex;
    gap: 15px;
    align-items: center;
}

.nav-menu li {
    position: relative;
}

.nav-menu li a, .dropbtn {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
    padding: 10px 15px;
    background: none;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    align-items: center;
    height: 40px;
}

.nav-menu li a:hover,
.dropbtn:hover {
    color: #f5f1e8;
}

/* Menú desplegable */
.dropdown-content {
    position: absolute;
    background: #ef9ca4;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: -20px;
    opacity: 0;
    transform: translateY(10px);
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background: #ffc2bb;
}

.dropdown:hover .dropdown-content {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}



.contenedor-juegos {
    padding: 30px;
}

.tarjetas-juego {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    margin-top: 30px;
}

.juego-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
    padding: 20px;
    width: 300px;
    text-align: center;
    transition: transform 0.3s;
}

.juego-card:hover {
    transform: scale(1.05);
}

.juego-card img {
    width: 100%;
    border-radius: 10px;
    height: 180px;
    object-fit: cover;
}

.boton-jugar {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #219ebc;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.boton-jugar:hover {
    background-color: #126782;
}

/* Footer */
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #D76483;
    color: white;
    text-align: center;
    padding: 10px;
}
