/* Reset general */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




.logo {
    width: 60px;
}

/* Barra de navegación */
.nav-menu {
    list-style: none;
    display: flex;
    gap: 150opx;
    align-items: center;
}

.nav-menu li {
    position: relative;
}

.nav-menu li a, .dropbtn {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
    padding: 10px 15px;
    background: none;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    align-items: center;
    height: 40px;
}

.nav-menu li a:hover,
.dropbtn:hover {
    color: #f5f1e8;
}

/* Menú desplegable */
.dropdown-content {
    position: absolute;
    background: #ef9ca4;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: -20px;
    opacity: 0;
    transform: translateY(10px);
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background: #ffc2bb;
}

.dropdown:hover .dropdown-content {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}




/* Footer */
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #00CCBE;
    color: white;
    text-align: center;
    padding: 10px;
}
