/* Reset general */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: linear-gradient(135deg, #a785f3, #BBDEFB); /* Fondo azul suave */
    /* background: linear-gradient(135deg, #dab6fc, #a785f3); */ /* Alternativo */
    overflow-x: hidden;
    padding-bottom: 60px;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1565C0; /* Azul fuerte */
    padding: 16px;
    color: white;
}

.logo {
    width: 50px;
}

/* Barra de navegación */
.nav-menu {
    list-style: none;
    display: flex;
    gap: 15px;
}

.nav-menu li {
    position: relative;
}


.nav-menu li a, .dropbtn {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
    padding: 10px 15px;
    background: none;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    align-items: center;
    height: 40px;
}

.nav-menu li a:hover,
.dropbtn:hover {
    color: #f5f1e8;
}

/* Menú desplegable */
.dropdown-content {
    position: absolute;
    background: #1E88E5;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: -20px;
    opacity: 0;
    transform: translateY(10px);
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background: #1F3DE5;
}

.dropdown:hover .dropdown-content {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

/* Contenido principal */
.main-content {
    padding: 40px 20px;
}

.main-content h2 {
    font-size: 28px;
    color: #680148;
    margin-bottom: 10px;
}

.main-content p {
    font-size: 18px;
    color: #444;
    margin: 10px auto;
    max-width: 800px;
}

/* Formulario de cita */
.appointment-form {
    background: #FFFFFF; /* Fondo blanco */
    padding: 30px;
    margin: 30px auto;
    max-width: 500px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.appointment-form label {
    font-size: 16px;
    font-weight: bold;
    display: block;
    margin-top: 10px;
    color: #0D47A1;
}

.appointment-form input,
.appointment-form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #BBDEFB;
    border-radius: 8px;
    font-size: 16px;
}

/* Botón de registrar cita */
.btn {
    display: block;
    width: 100%;
    padding: 12px;
    background: #1565C0;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 15px;
    transition: 0.3s;
}

.btn:hover {
    background: #1E88E5;
}

/* Footer */
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #1565C0;
    color: white;
    text-align: center;
    padding: 10px;
}
